*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body,html{
    width:100%;
    height:100%;
    font-family: "Noto Sans", sans-serif;
    background-color: black;

    
}
/* -------------------------------------------moving pointer------------------------------------------- */
#moving-pointer{
    width:1rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    z-index: 999;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;

}


/* -------------------------------------main div(wraps whole page)----------------------------------- */
#main{
    width:100%;
    background-color: black;
    color:white;
}
/* ------------------------------------------------page-1:landing page-------------------------------------------------- */

#landing-page{
    width:100%;
    height:100vh;
    
}
@media(max-width:768px){
    #landing-page{
        height:60vh;
    }

}

/* ---------------------------------------------nav section---------------------------------- */
#nav{
    
    /* border: 1px solid white; */
    width:100%;
    height:15%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vh 2vw;
    font-size: 1.5vw;
}
#owner-name{
    font-family: "Ubuntu", sans-serif;
}

/* --------------------------------------nav-section responsiveness--------------------------- */

@media(max-width:768px){
    #nav{
        font-size: 3vw;
    }

}


/* ----------------------------------------------banner section-------------------------------- */
#banner{
    /* margin-top: 10vh; */
    width:100%;
    height:85%;
    /* border: 1px solid white; */
    padding: 2vw;
}
#title-cont {
    padding:2vh;
    /* height:40%; */
    /* width:70%; */
    display:flex;
    flex-direction: column; 
    justify-content:center ;
    align-items: flex-start;
    font-size: 5vw;
  
    font-weight: lighter;
    
    
}
.bounding-div{
    height:fit-content;
    overflow: hidden;
}

#title-cont  h1{
    opacity: 0.6;
    transform: translateY(100%);
}

#origin{
    font-size: 1.5vw;
    margin-left: 60vw;
    transform: translateY(-100%);

}
/* --------------------------------------banner-section responsiveness--------------------------- */

@media(max-width:768px){
    #title-cont{
        height:100%;
    }
    #origin{
        font-size: 3vw;
    }

}


/* -------------------------------------------------------page-2:elements page--------------------------- */
#elems-page{
    width:100%;
    color:white;
    background-color: black;
    padding: 2vh 5vw;
    position: relative;
    margin: 15vw 0;
    
}
.elems-div{
    width:90%;
    height:40vh;
    border-top: 1px solid white;
    display:flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    opacity:0.7;
    position: relative;
    
    
}
.elems-div h1{
    font-size: 8vw;;
    
}
.elems-div h6{
    font-size: 1.5vw;;
    opacity:1;
  
}
.elems-div img{
    position: absolute;
    width:15vw;
    height:140%;
    display: none;

   
    z-index: 999;
}
/* --------------------------------------elements-section responsiveness--------------------------- */

@media(max-width:768px){
    #elems-page{
        margin:20vw 0;
    }

}

/* ------------------------------------------------page-3: about page--------------------------------- */


#about-page{
    width:100%;
    height:150vh;
    color:white;
    background-color: black;
    margin: 15vw 0;
    /* border: 1px solid white; */
    
}

#about-div{
    height:60%;
    width:90%;
    margin: 0 auto;
    display:flex;
    justify-content: flex-end;
    align-items: flex-start;
    /* border: 1px solid white; */
}
#dp-img-div{
    height:50%;
    aspect-ratio: 1/1;
    /* border: 1px solid white; */
    margin-right: 5%;
}
#dp{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#about-msg-div{
    height:100%;
    width: 45%;
    /* border: 1px solid white; */
    margin-right: 10%;
    display: flex;
    flex-direction: column;
}
#about-msg-heading{
    /* border: 1px solid white; */
    width:100%;
    height:10%;
    opacity: 0.7;
    text-transform: uppercase;
}
#about-msg{
    /* border: 1px solid white; */
    width:100%;
    height:55%;
    font-size: 1.5vw;;
}
#Lets-talk-btn{
    /* border: 1px solid white; */
    width:100%;
    height:15%;
}
 #Lets-talk-btn a{
    width:30%;
    height:80%;
    padding: 1em 2em; 
    background-color: black;
    color: #fff;
    font-weight: bold;
    border-radius: 0.5em;
    border-top: 1px solid white;
    border-left: 1px solid white;
    text-decoration: none;
    font-size: 1.2vw; 
 
    text-align: center;
    transition: background-color 0.3s ease;
}
#Lets-talk-btn a:hover{
    background-color: white;
    color:black;
}
#subscribe-div{
    height:10%;
    width:90%;
    margin: 0 auto;
    /* border: 1px solid white; */
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 15%;
    
}
#forgot-msg{
    text-transform: uppercase;
    opacity: 0.7;
    /* border: 1px solid white; */
    width:40%;
    /* height:15%; */
    font-size: 1.2vw;
}
#subscribe-link{
    text-transform: uppercase;
    /* border: 1px solid white; */
    width:40%;
    /* height:25%; */
    font-size: 1.6vw;
    text-decoration: none;
    
}
#subscribe-link a{
    text-decoration: none;
    color:white;

}
/* ------------------------------------------------------about page responsiveness---------------------- */

@media(max-width:480px){
    #about-page{
        width:100%;
        height:150vh;
        color:white;
        background-color: black;
        margin: 10vh 0;
        /* border: 1px solid white; */
        
    }
    #about-div{
        /* height:60%;
        width:90%;
        margin: 0 auto;
        display:flex; */
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:5%;
        height: auto;
        /* border: 1px solid white; */
    }
    #dp-img-div{
        height:50vw;
        aspect-ratio: 1/1;
        /* border: 1px solid white; */
        margin-right: 0;
        margin-bottom:5vh;
    }
    #dp{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    #about-msg-div{
        /* height:100%; */
        width: 45%;
        text-align: center;
        /* border: 1px solid white; */
        margin-right: 0;
        display: flex;
        flex-direction: column;
        gap:2vh;
    }
    #about-msg-heading{
        /* border: 1px solid white; */
        width:100%;
        height:10%;
        opacity: 0.7;
        text-transform: uppercase;
    }
    #about-msg{
        /* border: 1px solid white; */
        width:100%;
        height:55%;
        font-size: 1.5vw;;
    }
    #Lets-talk-btn{
        /* border: 1px solid white; */
        width:100%;
        height:15%;
    }
     #Lets-talk-btn a{
        width:30%;
        height:80%;
        padding: 1em 2em; 
        background-color: black;
        color: #fff;
        font-weight: bold;
        border-radius: 0.5em;
        border-top: 1px solid white;
        border-left: 1px solid white;
        text-decoration: none;
        font-size: 1.2vw; 
     
        text-align: center;
        transition: background-color 0.3s ease;
    }
    #Lets-talk-btn a:hover{
        background-color: white;
        color:black;
    }
}